.card {
    --bs-card-spacer-y: 0rem;
    --bs-card-spacer-x: 0rem;
    --bs-card-title-spacer-y: 0rem;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    height: 30%;
    opacity: 50%;
}

.card-title-nomade {
    @extend .card-title;
    margin-top: 10%;
    height: 20%;
    opacity: 80%;
}